@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=Cormorant+Garamond:wght@500&display=swap');


body{
    font-family: 'Cormorant Garamond', serif;
    overflow:hidden;
    background: conic-gradient(from 90deg at 50% 125%, #20b2aa, #135da5, #0d0895, #4b0082, #4b0082, #0d0895, #135da5, #20b2aa);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color:white;
    background: rgba(0, 0, 0, 0.1);
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width:768px){
    #bash1, #bash2{
        display: none;
    }

    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{
        display: block;
    }

@media(max-width 480px){
    .digitalClock h1{
        font-size: 4rem;
}

}